{% extends 'GoldenfishBundle::layout.html.twig' %}

{% block GFN_body %}
	<h1>Interface</h1>
	<div style="position:absolute; right:20px; top:20px; font-size:15pt"> Id utilisateur <img src="../../assets/images.png"></img></div>

	<menu>
		<td>Mes Notes</td><br/>
		<td>Groupe</td><br/>
		<td>Partage</td><br/>
	</menu>
{% endblock %}