<html>
<head>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="../bundles/goldenfish/css/bootstrap.min.css" />
    
    <!-- custom css -->
    <link rel="stylesheet" href="../bundles/goldenfish/css/templatemo-style.css" />
    <link rel="stylesheet" href="../bundles/goldenfish/css/custom.css" />

</head>
<body>
    <div class="col-md-3"></div>
    <div class="col-md-3 wow fadeIn">
        <div class="pricing text-uppercase">
            <div class="pricing-title">
                <h4>Inscription</h4>
            </div>
            <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"></div>
</body>
</html>
