<head>
<link rel="stylesheet" href="../bundles/goldenfish/css/bootstrap.min.css">
<link rel="stylesheet" href="../bundles/goldenfish/css/interface.css">
<link rel="stylesheet" href="../bundles/goldenfish/css/note.css">

 <!-- Include Font Awesome. -->
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <!-- Include Editor style. -->
  <link href="../bundles/goldenfish/froala/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
  <link href="../bundles/goldenfish/froala/css/froala_style.min.css" rel="stylesheet" type="text/css" />

  <!-- Include Code Mirror style -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

  <!-- Include Editor Plugins style. -->
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/char_counter.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/code_view.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/colors.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/emoticons.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/file.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/image.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/image_manager.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/quick_insert.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/table.css">
  <link rel="stylesheet" href="../bundles/goldenfish/froala/css/plugins/video.css">
  <link rel="stylesheet" href="../bundles/goldenfish/css/note.css">

</head>
{% block GFN_body %}
	<div class="container-fluid">
            <div class="row headerBar">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                                <span class="icon icon-bar"></span>
                            </button>
                             <p class="navbar-brand">Golden Fish</p>
                        </div>
                        <br />
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right ">
                                
                                <li id="dropdown">
                                    <div class="dropdown">
                                        <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            {{ user.username }}
                                            <span class="caret"></span>
                                        </a>
                                         <ul class="dropdown-menu" aria-labelledby="dLabel">
                                            <li><a  href="#">Profil</a></li>
                                            <li><a  href="#feature">Déconnexion</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            
                        </div>
                    </nav>
            </div>
            <div class="row menu-left">
                <div class="col-md-2 menu_left">
                    <a class="clickLien clickNote" href="#note">Mes notes</a>
                    <a class="clickLien clickAddNote" href="#addNote">Ajouter une note</a>
                </div>
                <div class="col-md-10" id="corps">
                    
                </div>
            </div>
        </div>


    <div class="modal fade" id="modalnote" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Note</h4>
        </div>
        <div class="modal-body">
            <p class="containerNote"> 

            </p>
            <textarea  class="textareaNote containerNote ">
                
            </textarea>
            <p style="display:none;" class="note_id"></p>
             <button type="button" class="btn btn-primary btnModifier" id="myModalChange" onClick="">Modifier</button>
             <button type="button" class="btn btn-primary btnValider" id="myModalChange">Valider</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        </div>
      </div>
      
    </div>
  </div>



      
        

        <div class="container">

          <!-- Modal -->
          

          
        </div>

          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../bundles/goldenfish/js/bootstrap.min.js"></script>
        <script src="../bundles/goldenfish/js/note.js"></script>
        <script type="text/javascript" src="../bundles/goldenfish/js/jquery.js"></script>

        <!-- FROALA EDITOR -->
         <!-- Include JS files. -->
          <script type="text/javascript" src="../bundles/goldenfish/froala/js/froala_editor.min.js"></script>

          <!-- Include Code Mirror. -->
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
          <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

         <!-- Include Plugins. -->
          <script type="text/javascript" src="../bundles/goldenfish/froala/js/plugins/save.min.js"></script>

          <!-- Include Language file if we want to use it. -->
          <script type="text/javascript" src="../bundles/goldenfish/froala/js/languages/ro.js"></script>


{% endblock %}