
<link rel="stylesheet" href="../bundles/goldenfish/css/note.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


{% block GFN_body %}

{% if listNote is empty %}

<p id="empty"> Aucune note </p>

{% endif %}

{% for note in listNote %}
	<div class="notes">
    <div class="note_icon">
    </div>
		<p class="note_title">{{ note.title }}</p>
	</div>
{% endfor %}
        <script type="text/javascript" src="../bundles/goldenfish/js/jquery.js"></script>

{% endblock %}